@page "/vip"
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@using PaginaDeBoletos
@using PaginaDeBoletos.Clases

<PageTitle>Pagina VIP</PageTitle>

<EditForm Model="@boleto" OnValidSubmit="@guardar">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="Contenedor-sesion">
        <div class="form-container">
            <p class="title">Comprar VIP</p>
            <p>Boletos disponibles: @VIP.Boletos_Vip</p>
            <p>Ingrese los datos solicitados</p>
            <div class="form">
                <div class="input-group">
                    <label for="nombre">Nombre:</label>
                    <InputText placeholder="" id="nombre" @bind-Value="boleto.Nombre" style="width: 100%; border-radius: 0.375rem; border: 1px solid rgba(55, 65, 81, 1); outline: 0; background-color: rgba(17, 24, 39, 1); padding: 0.75rem 1rem; color: rgba(243, 244, 246, 1);" />
                    <ValidationMessage For="() => boleto.Nombre" />
                </div>
                <div class="input-group">
                    <label for="dpi">DPI:</label>
                    <InputText placeholder="" id="dpi" @bind-Value="boleto.DPI" style="width: 100%; border-radius: 0.375rem; border: 1px solid rgba(55, 65, 81, 1); outline: 0; background-color: rgba(17, 24, 39, 1); padding: 0.75rem 1rem; color: rgba(243, 244, 246, 1);" />
                    <ValidationMessage For="() => boleto.DPI" />
                    <label for="correo">Correo electronico:</label>
                    <InputText placeholder="" id="correo" @bind-Value="boleto.Correo" style="width: 100%; border-radius: 0.375rem; border: 1px solid rgba(55, 65, 81, 1); outline: 0; background-color: rgba(17, 24, 39, 1); padding: 0.75rem 1rem; color: rgba(243, 244, 246, 1);" />
                    <ValidationMessage For="() => boleto.Correo" />
                    <label for="correo">Cantidad boletos:</label>
                    <InputNumber placeholder="" id="correo" @bind-Value="boleto.cantidad_boletos" style="width: 100%; border-radius: 0.375rem; border: 1px solid rgba(55, 65, 81, 1); outline: 0; background-color: rgba(17, 24, 39, 1); padding: 0.75rem 1rem; color: rgba(243, 244, 246, 1);" />
                    <ValidationMessage For="() => boleto.cantidad_boletos" />
                </div>
                <button style="margin-top:6%;" class="sign" type="submit">Comprar</button>
            </div>
            <div class="social-message">
                <div class="line"></div>
                <p class="message">Se generará un código QR con su número correlativo. Presione 'Descargar' una vez que esté disponible.</p>
                
                <div class="line"></div>
            </div>
        </div>
    </div>
    
</EditForm>

<div class="imagenQR" >
    <img src="@imagen" />
    
</div>
<a href="@imagen" download="@($"{boleto.Nombre}.png")" class="fancy-button">
    Descargar
</a>
@code {

    private VIP boleto = new VIP();
    private List<VIP> Lista_Boletos_Vip = new List<VIP>();
    string? imagen;

    private void guardar()
    {
        boleto.Fecha_Compra = DateTime.Now;
        boleto.Numero_correlativo = int.Parse(Transaccion.NoCorrelativo(boleto.DPI, 2));
        boleto.Zona = "Vip";
        if (boleto.cantidad_boletos <= VIP.Boletos_Vip)
        {


            Transaccion.Cola_Vip.Enqueue(boleto);

            ProcesarCola();
        }


    }

    protected override async Task OnInitializedAsync()
    {
        // Recuperar la lista de starships desde LocalStorage a una variable var
        var savedVip = localStorage.GetItem<List<VIP>>("Registro_Vip");

        // Validar si la lista fue recuperada correctamente, copiarla a la lista
        if (savedVip != null)
        {
            Lista_Boletos_Vip = savedVip;
            
        }
        foreach (var can in Lista_Boletos_Vip)
        {
            VIP.Boletos_Vip = 20 - can.cantidad_boletos;
        }
    }

    private void ProcesarCola()
    {
        while (Transaccion.Cola_Vip.Count > 0)
        {
            var siguiente = Transaccion.Cola_Vip.Dequeue();
            imagen = Transaccion.Generar_QR(siguiente.Numero_correlativo.ToString());
            VIP.Boletos_Vip -= boleto.cantidad_boletos;
            Lista_Boletos_Vip.Add(siguiente);

            localStorage.SetItem("Registro_Vip", Lista_Boletos_Vip);
        }
    }
}