@page "/tribuna"
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@using PaginaDeBoletos
@using PaginaDeBoletos.Clases
<PageTitle>Pagina tribuna</PageTitle>

<EditForm Model="@boleto" OnValidSubmit="@guardar">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="Contenedor-sesion">
        <div class="form-container">
            <p class="title">Compra Tribuna</p>

            <p>Boletos disponibles: @Tribuna.Boletos_Tribuna</p>
            <p>Ingrese los datos solicitados</p>
            <div class="form">
                <div class="input-group">
                    <label for="nombre">Nombre:</label>
                    <InputText placeholder="" id="nombre" @bind-Value="boleto.Nombre" style="width: 100%; border-radius: 0.375rem; border: 1px solid rgba(55, 65, 81, 1); outline: 0; background-color: rgba(17, 24, 39, 1); padding: 0.75rem 1rem; color: rgba(243, 244, 246, 1);" />
                    <ValidationMessage For="() => boleto.Nombre" />
                </div>
                <div class="input-group">
                    <label for="dpi">DPI:</label>
                    <InputText placeholder="" id="dpi" @bind-Value="boleto.DPI" style="width: 100%; border-radius: 0.375rem; border: 1px solid rgba(55, 65, 81, 1); outline: 0; background-color: rgba(17, 24, 39, 1); padding: 0.75rem 1rem; color: rgba(243, 244, 246, 1);" />
                    <ValidationMessage For="() => boleto.DPI" />
                    <label for="correo">Correo electronico:</label>
                    <InputText placeholder="" id="correo" @bind-Value="boleto.Correo" style="width: 100%; border-radius: 0.375rem; border: 1px solid rgba(55, 65, 81, 1); outline: 0; background-color: rgba(17, 24, 39, 1); padding: 0.75rem 1rem; color: rgba(243, 244, 246, 1);" />
                    <ValidationMessage For="() => boleto.Correo" />
                    <label for="correo">Cantidad boletos:</label>
                    <InputNumber placeholder="" id="correo" @bind-Value="boleto.cantidad_boletos" style="width: 100%; border-radius: 0.375rem; border: 1px solid rgba(55, 65, 81, 1); outline: 0; background-color: rgba(17, 24, 39, 1); padding: 0.75rem 1rem; color: rgba(243, 244, 246, 1);" />
                    <ValidationMessage For="() => boleto.cantidad_boletos" />
                </div>
                <button style="margin-top:6%;" class="sign" type="submit">Comprar</button>
            </div>
            <div class="social-message">
                <div class="line"></div>
                <p class="message">Se generará un código QR con su número correlativo. Presione 'Descargar' una vez que esté disponible.</p>
                <div class="line"></div>
            </div>
        </div>
    </div>
</EditForm>

<div class="imagenQR">
    <img src="@imagen" />
    
</div>
<a href="@imagen" download="@($"{boleto.Nombre}.png")" class="fancy-button">
    Descargar
</a>
@code {

    private Tribuna boleto = new Tribuna();
    private List<Tribuna> Lista_Boletos_Tribuna = new List<Tribuna>();
    string? imagen;
    private void guardar()
    {
        boleto.Fecha_Compra = DateTime.Now;
        boleto.Numero_correlativo = int.Parse(Transaccion.NoCorrelativo(boleto.DPI, 4));
        boleto.Zona = "Tribuna";
        if (boleto.cantidad_boletos <= Tribuna.Boletos_Tribuna)
        {
            Transaccion.Cola_Tribuna.Enqueue(boleto);

            ProcesarCola();
        }

    }

    protected override async Task OnInitializedAsync()
    {
        // Recuperar la lista de starships desde LocalStorage a una variable var
        var savedTribuna = localStorage.GetItem<List<Tribuna>>("Registro_Tribuna");

        // Validar si la lista fue recuperada correctamente, copiarla a la lista
        if (savedTribuna != null)
        {
            Lista_Boletos_Tribuna = savedTribuna;
            
        }
        foreach (var can in Lista_Boletos_Tribuna)
        {
            Tribuna.Boletos_Tribuna = 200 - can.cantidad_boletos;
        }
    }

    private void ProcesarCola()
    {
        while (Transaccion.Cola_Tribuna.Count > 0)
        {
            var siguiente = Transaccion.Cola_Tribuna.Dequeue();
            imagen = Transaccion.Generar_QR(siguiente.Numero_correlativo.ToString());
            Tribuna.Boletos_Tribuna -= boleto.cantidad_boletos;
            Lista_Boletos_Tribuna.Add(siguiente);

            localStorage.SetItem("Registro_Tribuna", Lista_Boletos_Tribuna);
        }
    }
}